/* Présentaion du blog siuvant mes propres critères */

/*.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
*/

.scrollup {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Navbar */

.navbar-item img {
  max-height: 3rem;
}

.brand-content {
  margin-left: 1em;
}

.navbar.icon {
  margin: 3em;
}

/* Espace margin et padding contenu */

#one {
  padding-top: 8em;
}

#circle {
  margin-top: 4em;
}

#top {
  padding-top: 4em;
}

#homePost {
  max-width: 25em;
}

#bandeau {
  border-radius: 2px 20px;
}

.underline {
  text-decoration: underline;
}

/* image modification */

#Map_Alaska {
  max-height: 250px;
}

#admin_img {
  max-width: 250px;
}

/* Mise en place du boutton Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}